.debug {
  background-color: rgba(19, 171, 44, 0.2);
  border: 1px solid black;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER */
header {
  height: 70px;
  width: 100%;
  color: #5b5858 ;
}

.col-elastic {
  width: calc(100% - 100px);
}

.col-custom {
  width: 50px;
}

.disappear-font {
  width: 80px;
}

.logo-mobile {
  width: 50px;
}

.logo-mobile img {
  width: 100%;
}

.bg-color-grey {
  background-color: #e5e5e5;
}

.bg-color-grey:focus {
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
  box-shadow: none;
}

.fa-bell{
  color: #ff8f00;
}

/* MAIN */
main {
  height: calc(100vh - 70px);
}

#sidebar {
  width: 70px;
  height: 100%;
  background-color: #051e34;
  background-image: url(/img/sidebar-bg.png);
  color: white;
}

.sidebar_top ul {
  padding-left: 0;
}

.sidebar_top li {
  margin-bottom: 10px;
}

.sidebar_top li a {
  color: white;
}


.sidebar_top li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.custom-button {
  border: none;
  border-radius: 0;
}

.custom-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  border-radius: 0;
}

.content {
  width: 100%;
  overflow: auto;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  #sidebar {
    width: 150px;
  }

  .sidebar_top li {
    margin-bottom: 10px;
    width: 100px;
    padding: 2px;
    margin-left: 10px;
  }

  .col-custom {
    width: 150px;
  }

  .col-elastic {
    width: calc(100% - 300px);
  }
}
