/* General Properties */
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* HEADER */
header {
  height: 70px;
  width: 100%;
  color: #5b5858 ;
}

.col-elastic {
  width: calc(100% - 100px);
}

.col-custom {
  width: 50px;
}

.disappear-font {
  width: 80px;
}

.logo-mobile {
  width: 50px;
}

.logo-mobile img {
  width: 100%;
}

.bg-color-grey {
  background-color: #e5e5e5;
}

.bg-color-grey:focus {
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
  box-shadow: none;
}

.fa-bell{
  color: #ff8f00;
}

/* MAIN */
main {
  height: calc(100vh - 70px);
  background-color: #f8f9fa;
}

#sidebar {
  width: 70px;
  height: 100%;
  background-color: #051e34;
  background-image: url(/img/sidebar-bg.png);
  color: white;
}

.sidebar_top ul {
  padding-left: 0;
}

.sidebar_top li {
  margin-bottom: 10px;
}

.sidebar_top li a {
  color: white;
  padding: 2px 6px;
}


.sidebar_top li:hover a{
  background-color: rgba(255, 255, 255, 0.5);
}

.custom-button {
  border: none;
  border-radius: 0;
}

.custom-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  border-radius: 0;
}

.offcanvas.offcanvas-end.custom-offcanvas {
  width: 100%; 
}

/* CONTENT */
.content {
  width: 100%;
  overflow: auto;
}

.content-top {
  background-color: #1b72e8;
  color: white;
  padding: 30px 40px 5px 10px;
}

.row-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.col-content {
  margin-bottom: 10px;
}

.color-badge {
  background-color: #165bba;
  border-radius: 10px;
}

.content-bottom {
  margin: 20px;
}

/* CONTENT BOTTOM */
.container-gg {
  width: 100%;
}

.custom-card {
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin-bottom: 20px;
}

.custom-card-title {
  background-color: #f7f7f7;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid lightgrey;
}

.custom-card-content {
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.stats,
.stats-content img,
.custom-card-title,
.custom-card-content {
  padding: 10px;
}

.custom-td {
  width: 100px;
  font-weight: normal;
  text-align: center;
}

.custom-card .custom-card-content img {
  width: 30px;
  border-radius: 50%;
}

.custom-btn {
  font-size: .8rem;
}

.custom-badge {
  color: white;
  background-color: #ffc107;
}

.stats {
  background-color: white;
}

.stats-content {
  border: 1px solid lightgrey;
  border-radius: 10px;
  font-size: .9rem;
}

.stats-content .list-custom {
  border-top: 1px solid lightgrey;
}

.stats-content div a {
  text-decoration: underline;
}


/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  #sidebar {
    width: 150px;
  }

  .sidebar_top li {
    margin-bottom: 10px;
    width: 100px;
    padding: 2px;
    margin-left: 10px;
  }

  .col-custom {
    width: 150px;
  }

  .col-elastic {
    width: calc(100% - 300px);
  }

  .row-content {
    display: flex;
    flex-direction: row-reverse;
  }

  .offcanvas.offcanvas-end.custom-offcanvas {
    width: 600px; 
  }
}
